/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.navbar 
  box-shadow 0 0 20px #eee;
  border-bottom 0
.sidebar
  border-right 2px solid #eee